body{
    box-sizing: border-box;
    margin: 3px;
    background-color: black;

}
.navbar-container {
    display: flex;
    margin: 10px;
}
.navbar-container,
.nav-item, 
.nav-link, 
.navbar-nav{
    background-color: rgb(48, 45, 45);

}
.nav-item {
    display: inline;
    margin: 20px;
    list-style: none;
}
.nav-link, .navbar-nav{
    font-size: 15px;
    color: rgb(240, 235, 235)
}